<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325833872359-kut4h4f6l6cjnpm6fu424hhj3346no5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325833872359-kut4h4f6l6cjnpm6fu424hhj3346no5k</string>
	<key>API_KEY</key>
	<string>AIzaSyC8xUSvd3jNxjZ8TYLJ6CWnFfqVTN_2iHA</string>
	<key>GCM_SENDER_ID</key>
	<string>325833872359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eson.expiryReminder</string>
	<key>PROJECT_ID</key>
	<string>eson-s-expiry-reminder</string>
	<key>STORAGE_BUCKET</key>
	<string>eson-s-expiry-reminder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325833872359:ios:eafbfcd9ef42ca401de342</string>
</dict>
</plist>